@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@502&display=swap');

.heading{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 502;
  font-style: normal;
}

